@import "../../index.scss";

.head {
  padding: calc(14px + 3vmax) calc(10px + 3vmin);
  background: linear-gradient($main-gradient);
  color: white;

  border-radius: 0px 0px 50px 50px;
  box-shadow: $main-box-shadow;

  h1,
  h2,
  h3,
  h4,
  p {
    width: 100%;
  }

  .description {
    color: rgba($color: #fff, $alpha: 0.8);
    margin: calc(10px + 3vmax) 0;
  }

  hr {
    border: 0 none;
    border-top: 2px dashed white;
    opacity: 0.5;
  }

  h1 {
    text-align: center;
    margin: calc(10px + 3vmax) 0;
  }

  .game-hint {
    text-align: center;
  }

  // On Game

  .heading {
    margin-top: calc(12px + 3vmax);
  }

  .question-index {
    margin-top: calc(5px + 3vmax);

    small {
      font-size: calc(3px + 3vmin);
    }
  }
}

@media (min-width: 1024px) {
  .head {
    padding: 40px 0;

    .container {
      max-width: 1200px;
      margin: auto;

      .flex {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      hr.lg-hide {
        display: none;
      }

      h1 {
        margin: 0;
        text-align: right;
      }
    }
    // On Game

    .heading {
      margin-top: 30px;
    }

    hr {
      margin: 8px 0;
    }

    .question-index {
      margin-top: 30px;
    }
  }
}
