@import "../../index.scss";

.game {
  margin: 0 calc(5px + 1vmin);
  padding: calc(3px + 3vmax) calc(10px + 4vmin);
  z-index: 20;
  overflow-y: scroll;
  background-color: transparent;

  &::-webkit-scrollbar {
    margin-right: 10px;
    width: calc(3px + 1vmin);
  }

  &::-webkit-scrollbar-track {
    background-color: #eaf7ff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to top, $main-color-dark, $main-color);
  }
}
