@import "../../index.scss";

.button {
  display: block;
  padding: calc(8px + 2vmin) calc(18px + 5vmin);
  background: linear-gradient($main-gradient-side);
  border: none;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 200px;
  box-shadow: $main-box-shadow;
  cursor: pointer;
  outline: none;

  color: white;
  text-align: center;
  font-size: calc(14px + 2vmin);
  font-weight: 500;

  &:hover {
    background: $main-color-dark;
  }

  &.main {
    background: linear-gradient($main-gradient-side);
  }

  &.success {
    background: linear-gradient($success-gradient-side);
  }

  &.warning {
    background: linear-gradient($warning-gradient-side);
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .button {
    padding: 18px 36px;
    font-size: 30px;
  }
}
