@import "../../index.scss";

.button {
  display: block;
  padding: 16px 38px;
  background: linear-gradient($main-gradient-side);
  border: none;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50px;
  box-shadow: $main-box-shadow;
  cursor: pointer;
  outline: none;

  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 500;

  &:hover {
    background: $main-color-dark;
  }

  &.main {
    background: linear-gradient($main-gradient-side);
  }

  &.success {
    background: linear-gradient($success-gradient-side);
  }

  &.warning {
    background: linear-gradient($warning-gradient-side);
  }
}
