.button-div {
  flex: 1;
  display: flex;
  padding: calc(3px + 2vmax) 0px;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 1024px) {
  .button-div {
    padding: 10px 0px;
  }
}
