@import "../../index.scss";

.alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: calc(6px + 1vmax) 20px;
  margin-bottom: calc(3px + 3vmax);
  box-shadow: 0px 10px 30px rgba($color: #011457, $alpha: 0.1);

  p {
    color: #222;
    max-width: 80%;
  }

  input {
    display: inline-block;
    border: 1px solid $main-color;
    border-radius: 50px;
    width: calc(10px + 2vmax);
    height: calc(10px + 2vmax);
  }
}
